$link-default             : #4e6e85;
$link-gray                : #999;

$header-bg                : #102b5a;

$bag-button               : #a3ca39;
$bag-info                 : #2f394c;
$bag-title                : #626463;

$navlink-default          : #101e47;
$navlink-hover            : #72a527;
$navlink-active           : #a3ca39;
$navlink-shadow           : #d1d1d1;

$search-border            : #d3d4d5;
$search-shadow            : #ddd;
$search-text              : #3a3a3a;

$product-title            : #363f46;
$product-price            : #ae5c73;
$product-oldprice         : #666;

$color-title              : #202c3a;

$size-title               : #202c3a;
$size-item-bg             : #d8dede;
$size-item-text           : #2b3034;

$size-disabled-bg         : #eff0f2;
$size-disabled-text       : #bdbec0;

$addtobag-label           : #1a2948;
$addtobag-quantity-border : #c5c5c5;
$addtobag-quantity-bg     : #f2f2f2;
$addtobag-quantity-shadow : #c5c5c5;

$promo-border             : #606166;
$promo-text               : #202c3a;

$tabs-border              : #d7d8dc;
$tabs-inactive            : #e7e8ec;
$tabs-link                : #1a2948;
$tabs-text                : #6d6d6d;
$tabs-square              : #999;

$reviews-title            : #202c3a;
$reviews-border           : #c7c7c7;
$review-title             : #3f424b;
$review-author            : #333;
$review-excerpt           : #2c2c2c;

$suggestion-title         : #5c5c5c;
$suggestion-descr         : #222;

$recommend-title          : #1c2d47;

$carousel-itemname        : #2d3035;
$carousel-itemprice       : #828282;

$footer-bg-dark           : #cacfd5;
$footer-bg-light          : #dce0e3;
$footer-link              : #3c434b;
$footer-copyright         : #808487;
$social-title             : #40444f;
