.actions {
  padding: 0 5px 16px 0;
  background: image-url('line.jpg') no-repeat center bottom;
  overflow: hidden;

  &__item {
    float: left;
    width: 38%;
    margin-right: 5px;
    margin-bottom: 6px;
    &--send,
    &--share {
      width: 41%;
    }
    &--print {
      float: right;
      margin-right: 0;
      width: auto;
    }
    &--like {
      clear: left;
    }
  }
  &__link {
    font-family: $myriad-pro;
    color: $link-default;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      color: darken($link-default, 15%);
      text-decoration: underline;
    }
  }
  &__icon {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
  }
}

$actions: wishlist, send, print, like, share;

@each $a in $actions {
  .actions__icon--#{$a} {
    @include s(#{$a});
  }
}
