.actions {
  padding: 0 5px 16px 0;
  background: image-url('line.jpg') no-repeat center bottom;
  &__item {
    width: 36%;
    display: inline-block;
    margin-right: 6px;
    margin-bottom: 6px;
    &--print {
      width: 16%;
      margin-right: 0;
      margin-left: 10px;
    }
  }
  &__link {
    font-family: $gravur;
    color: $link-default;
    font-size: 12px;
    font-weight: bold;
    &:hover {
      color: darken($link-default, 15%);
    }
    .ie & {
      font-weight: normal;
    }
  }
  &__icon {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
  }
}

$actions: wishlist, send, print, like, share;

@each $a in $actions {
  .actions__icon--#{$a} {
    @include s(#{$a});
  }
}
