.header {
  background: image-url('header.jpg') no-repeat center top;
  height: 110px;

  &__container {
    @extend %container;
  }

  &__logo {
    @include replace-text('logo.png');
    width: 183px;
    height: 38px;
    position: relative;
    top: 20px;
    background-size: cover;
    .ie & {
      width: 198px;
      height: 42px;
    }
  }
  &__home {
    display: block;
    height: 100%;
    cursor: pointer;
  }
  &__nav {
    float: left;
  }
  &__search {
    float: right;
    margin-top: 35px;
    margin-right: 2px;
  }
}
