.nav {
  margin-top: 44px;

  &__item {
    float: left;
  }
  &__link {
    font-family: $gravur;
    color: $navlink-default;
    font-size: 12px;
    line-height: 20px;
    font-weight: bold;
    padding: 10px 4px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
      color: $navlink-hover;
    }
    @include breakpoint(950px) {
      padding: 10px 8px;
      font-size: 14px;
    }
    @include breakpoint(1280px) {
      padding: 10px 15px;
      font-size: 14px;
    }
    .ie & {
      @include breakpoint(1024px) {
        padding: 10px 8px;
        font-size: 14px;
      }
    }
    &--active {
      background: #fff;
      box-shadow: inset 0 3px 5px $navlink-shadow;
      color: $navlink-active;
    }
  }
}
