.recommend {
  clear: both;
  overflow: hidden;
  @include breakpoint(1024px) {
    padding: 0 10px;
  }

  &__title {
    margin-bottom: 20px;
    color: $recommend-title;
    font-family: $gravur;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    @include breakpoint(1024px) {
      margin-bottom: 10px;
      max-width: 80px;
      margin: 0 auto;
    }
  }
  &__content {
    margin: 0 auto;
    max-width: 90%;
    overflow: hidden;
    @include breakpoint(1024px) {
      max-width: 100%;
    }
  }
}
