.suggestion {
  position: relative;
  display: block;

  &__text {
    position: absolute;
    right: 89px;
    bottom: 22px;
  }
  &__title {
    font-family: $myriad-pro-light;
    font-size: 30px;
    text-transform: uppercase;
    color: $suggestion-title;
  }
  &__descr {
    max-width: 150px;
    margin-top: 3px;
    color: $suggestion-descr;
    text-transform: uppercase;
    font-family: $gravur;
    font-size: 15px;
    font-weight: bold;
    &:after {
      content: ">";
      position: relative;
      top: -1px;
      left: 5px;
    }
  }
}
